<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=yes">
<meta name="description" content="海内存知己，天涯若比邻。一叶浮萍归大海，人生何处不相逢。">
<meta name="keywords" content="相逢即是缘">
<link rel="shortcut icon" type="image/x-icon" href="images/logo.ico" />
<title><%= title %></title>
<!-- Bootstrap -->
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/stylesheets/style.css" rel="stylesheet" media="screen">
<link href="/stylesheets/jquery.mCustomScrollbar.min.css" rel="stylesheet" media="screen">
<!-- <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"> -->
<script src="/javascripts/jquery-2.2.0.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body screen_capture_injected="true">